---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

interface Project {
	frontmatter: {
		title: string;
		date: string;
		icon: string;
		date: string;
		url: string;
	},
	rawContent(): string;
}

const projects = Object.values(import.meta.glob<Project>('../content/projects/*.md', { eager: true })).reverse();
---
<Layout title='Projects & Things'>
	<h1>Projects & Things</h1>
	{ projects.map( project => <Card
		icon={project.frontmatter.icon}
		date={project.frontmatter?.date}
		href={project.frontmatter.url}
		title={project.frontmatter.title}
		body={project.rawContent()}
		/>
	)}
</Layout>
<style>
	div {
		margin: 5px;
	}
</style>
